.App {
  text-align: center;
}

.container {
  display: flex;
  margin-left: 30px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  /* margin-left: 30px; */
}
