.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
}

.outsandcount {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 90%;
}

#field{ 
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  top:-110px;
  left:145px;
  height:350px;
  width:350px;
  border-radius:1% 100% 1% 1%;
  border:1px solid green;
  background-color:green;
 -webkit-transform: rotate(-45deg);
}
#in-field{ 
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  top: 30px;
  left:208px;
  height:225px;
  width:225px;
  border-radius:1% 50% 1% 1%;
  border:1px solid #836539; /*#9b7653; */
  background-color:#836539; /*#9b7653;*/
 -webkit-transform: rotate(-45deg);
}
#base-lines{
  position:absolute;
  top: 165px;
  left: 239px;
  height:420px;
  width:420px;
  border-left:2px solid white;
  border-bottom:2px solid white;
  -webkit-transform: rotate(-45deg);
}
#in-field-grass{
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  top: 97px;
  left: 255px;
  height:130px;
  width:130px;
  border:2px solid green;
  background-color:green;
  -webkit-transform: rotate(-45deg);
}

#first-base{
  top: 155px;
  left:433px;
  background-color: white;
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  height:13px;
  width:13px;
  -webkit-transform: rotate(-45deg);
  border:1px solid white;
  background-color:white;
  z-index: 1000;
}
#second-base{
  top:55px;
  left:315.5px;
  background-color: white;
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  height:8px;
  width:8px;
  -webkit-transform: rotate(-45deg);
  border:1px solid white;
  background-color:white;
  z-index: 1000;
}
#third-base{
  top:161px;
  left:202px;
  background-color: white;
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  height:13px;
  width:13px;
  -webkit-transform: rotate(-45deg);
  border:1px solid white;
  background-color:white;
  z-index: 1000;
}

#first-base:hover, #second-base:hover, #third-base:hover {
  cursor: pointer;
}


#home-plate{
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  height:7px;
  width:13px;
  top:265px;
  left:318px;
  /* border:1px solid white; */
  /* background-color:white; */
}
#home-plate:before, #home-plate:after{
top: 20px;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
#home-plate:before{
border-top-color:white;
border-width: 8px;
left: 50%;
margin-left: -9.5px;
}

#pitchers-mound{ 
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  top:140px;
  left:297px;
  height: 50px;
  width: 50px;
  border-radius:100% 100% 100% 100%;
  -webkit-transform: rotate(-45deg);
   border:1px solid #836539;
  background-color:#836539;
}
#pitchers-rubber{ 
  position: absolute;
  margin-top: 30%;
  margin-left: 10%;
  top: 163px;
  left: 313.5px;
  height: 5px;
  width: 16px;
  border: 1px solid white;
  background-color:white;
}
#vertical{
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  top:14px;
  left:491px;
  height:1115px;
  width:1px;
  border-left:1px solid black;
}
.half-circle{    
  position:absolute;
  margin-top: 15%;
  margin-left: 10px;
  height:20px;
  width: 20px;
  -webkit-transform: rotate(-45deg);
  border:1px solid #836539;
  background-color:#836539;
}
#third-circle{
  top:346px;
  left:341px;
  border-radius:1% 1% 100% 1%;
}
#first-circle{
  top:345px;
  left:518px;
  border-radius:100% 1% 1% 1%;
}
#second-circle{
  top:257px;
  left:429px;
  border-radius:1% 1% 1% 100%;
}
.batters-box{
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  height:25px;
  width: 15px;
  border:2px solid white;
  background-color:#836539;
    /*-6px 6px red,
    -6px -6px red,
    6px -6px red;*/
  opacity: 1.0; /* Needed so that opacity for pulse doesn't cause issues */
  top: 670px;
}
#batters-box-right{
  box-shadow: 1px 0 #836539; /* Cover up the base line */
  top: 268px;
  left:303px;
  height: 25px;;
  width: 12px;
}
#batters-box-left{
box-shadow: -1px 0 #836539; /* Cover up the base line */
  top: 268px;
  left:327px;
  height: 25px;
  width: 12px;
}
#batting-circle{ 
  position:absolute;
  margin-top: 30%;
  margin-left: 10%;
  top:245px;
  left:287.5px;
  height:70px;
  width:70px;
  border-radius:100% 100% 100% 100%;
 -webkit-transform: rotate(-45deg);
   border:1px solid #836539;
  background-color:#836539;
}


