.App {
  text-align: center;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
}

.outscontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.outsandcount {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 50px;
  margin-left: 37%; */
}

#balls, #strikes, #outs {
  padding-left: 20px;
  padding-right: 20px;
}

#stadium {
position: fixed;
top: 50%;
left: 50%;
}

#field{ 
  position:relative;
  top:50%;
  left:50%;
  margin-top: -40%;
  margin-left: -100%;
  height:350px;
  width:350px;
  border-radius:1% 100% 1% 1%;
  border:1px solid green;
  background-color:green;
 -webkit-transform: rotate(-45deg);
}
#in-field{ 
  position:relative;
  top: 50%;
  left:50%;
  margin-top: -61%;
  margin-left: -82%;
  height:225px;
  width:225px;
  border-radius:1% 50% 1% 1%;
  border:1px solid #836539; /*#9b7653; */
  background-color:#836539; /*#9b7653;*/
 -webkit-transform: rotate(-45deg);
}
#base-lines{
  position:relative;
  top: 50%;
  left: 50%;
  margin-top: -148%;
  margin-left: -106.3%;
  height:420px;
  width:340px;
  border-left:2px solid white;
  border-bottom:2px solid white;
  -webkit-transform: rotate(-45deg);
}
#in-field-grass{
  position:relative;
  top: 50%;
  left: 50%;
  margin-top: -40%;
  margin-left: -68.7%;
  height:130px;
  width:130px;
  border:2px solid green;
  background-color:green;
  -webkit-transform: rotate(-45deg);
}

#first-base{
  position: relative;
  top: 50%;
  left:50%;
  margin-top: 30%;
  margin-left: -81.2%;
  background-color: white;
  position:relative;
  height:13px;
  width:13px;
  -webkit-transform: rotate(-45deg);
  border:1px solid white;
  background-color:white;
  z-index: 1000;
}
#second-base{
  position: relative;
  top:50%;
  left:50%;
  margin-top: 30%;
  margin-left: -100%;
  background-color: white;
  position:relative;
  height:8px;
  width:8px;
  -webkit-transform: rotate(-45deg);
  border:1px solid white;
  background-color:white;
  z-index: 1000;
}
#third-base{
  position: relative;
  top: 50%;
  left:50%;
  margin-top: -50%;
  margin-left: -100%;
  background-color: white;
  position:relative;
  height:13px;
  width:13px;
  -webkit-transform: rotate(-45deg);
  border:1px solid white;
  background-color:white;
  z-index: 1000;
}

#first-base:hover, #second-base:hover, #third-base:hover {
  cursor: pointer;
}


#home-plate{
  position:relative;
  height:7px;
  width:13px;
  top:775px;
  left:636px;
  /* border:1px solid white; */
  /* background-color:white; */
}
#home-plate:before, #home-plate:after{
top: 20px;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
#home-plate:before{
border-top-color:white;
border-width: 8px;
left: 50%;
margin-left: -9.5px;
}

#pitchers-mound{ 
  position:relative;
  top: 652px;
  left: 617.5px;
  height: 50px;
  width: 50px;
  border-radius:100% 100% 100% 100%;
  -webkit-transform: rotate(-45deg);
   border:1px solid #836539;
  background-color:#836539;
}
#pitchers-rubber{ 
  position: absolute;
  top: 674px;
  left: 634.5px;
  height: 5px;
  width: 16px;
  border: 1px solid white;
  background-color:white;
}

.half-circle{    
  position:relative;
  height:20px;
  width: 20px;
  -webkit-transform: rotate(-45deg);
  border:1px solid #836539;
  background-color:#836539;
}
#third-circle{
  top:674px;
  left:544px;
  border-radius:1% 1% 100% 1%;
}
#first-circle{
  top:672px;
  left:718px;
  border-radius:100% 1% 1% 1%;
}
#second-circle{
  top:590px;
  left:629px;
  border-radius:1% 1% 1% 100%;
}
.batters-box{
  position:relative;
  height:25px;
  width: 15px;
  border:2px solid white;
  background-color:#836539;
    /*-6px 6px red,
    -6px -6px red,
    6px -6px red;*/
  opacity: 1.0; /* Needed so that opacity for pulse doesn't cause issues */
  top: 670px;
}
#batters-box-right{
  box-shadow: 1px 0 #836539; /* Cover up the base line */
  top: 785px;
  left:625px;
  /* height: 25px;; */
  width: 8px;
}
#batters-box-left{
box-shadow: -1px 0 #836539; /* Cover up the base line */
  top: 785px;
  left:647px;
  /* height: 25px; */
  width: 8px;
}
#batting-circle{ 
  position:relative;
  top:765px;
  left:606px;
  height:70px;
  width:70px;
  border-radius:100% 100% 100% 100%;
 -webkit-transform: rotate(-45deg);
   border:1px solid #836539;
  background-color:#836539;
}


